NameError: name 'kn' is not defined

### **Data Types and Structures Questions**

In [ ]:
# 1. What are data structures, and why are they important?

# data structures are a way of organizing and storing the data and they are important for efficient access and manipulation of data.

In [ ]:
# 2. Explain the difference between mutable and immutable data types with examplesP

# Mutable: Mutable data types are those that allow item assignments once after the data type is defined or the variable is defined. eg: list, dictionary
# eg:
# my_list = [2,4,'salman', 5.6, 4+4j]                     # All these are mutable
# my_dict = {'name':'salman', 'age': 59, 'complexion': 'fair', 'marks':69.88}


# Immutable: Immutable data types are those that do not allow item assignments once the data type or variable is defined already. eg: tuple, set, string
# mystr = "Salman Khan"
# my_tuple=(1,5,'salman')       # All these are immutable
# my_set={3,6,'salman', 6, 7.88}

In [ ]:
#3 What are the main differences between lists and tuples in Python?
# lists: lists are ordered collection of heterogenous elements which means they can store different data type elements and they can accessed using indexing,
# and lists do support item assignmment
# eg:
my_list = [1,6,7,5.7,'name', 5+6j, 'color']
my_list[2]="salman"
print(my_list)

# tuples: tuples are ordered collection of herterogeneous elements but they do not support item assigment,
# the only diffence between both is the syntax of defining them and item assignment.
# lists allow item Assignment and are used wher we can easily manipulate data eg. grocery list, menu
# tuples do not allow item assignment and are used where we want the data to be hard coded so that it cannot be changed eg, aadhar no., bank ac number, social security no.

# eg.
my_tuple = (1,34,556,66,4.6,6,6,'name')
my_tuple[2]= 5849

[1, 6, 'salman', 5.7, 'name', (5+6j), 'color']

TypeError: 'tuple' object does not support item assignment

In [ ]:
#4 Describe how dictionaries store data

# dictionaries are the data strucutures that organize and store elements or data in form of-
# key- value pairs
# key cannot be changed for any value and only the values can be accessed using key, vice versa is not possible.

# eg.

my_dict = {'name':'salman', 'age': 59,'city': 'mumbai', 45: 'actor'}
my_dict[45]

'actor'

In [30]:
#5 Why might you use a set instead of a list in Python?

# sets are preffered over lists when we want unique data from a set of collection, to get rid of repetitiveness or redundencies we prefer sets over list.
# Also, we can use sets if we want the data not to be accessed using indexing

# eg.
# list with repeated elements

my_list = [1,2,2,2,2,2,2,2,2,2,6,6,6,6,6,6,'kk', 'kk', 'salman', 'salman', 6+7j, 6+7j, True, True, False, False]
print(my_list)

# eg.
# set with all duplicacy removed and unordered
my_set = {1,2,2,2,2,2,2,2,2,2,6,6,6,6,6,6,'kk', 'kk', 'salman', 'salman', 6+7j, 6+7j, True, True, False, False}
print(my_set)

[1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 6, 6, 6, 6, 6, 'kk', 'kk', 'salman', 'salman', (6+7j), (6+7j), True, True, False, False]
{False, 1, 2, 6, 'salman', 'kk', (6+7j)}

In [31]:
#6 What is a string in Python, and how is it different from a list?

# string is a data structure in python that is used for stroring and manipulating textual data.
# each single character in a string is the fundamental unit of the string
# the items in a string or the characters in a string can be accessed using index starting from 0 to n-1, n denotes the lenght of string
# strings are immutable and do not support item assignment, however we can make a new string using .replace() without effecting the original sting.

# eg:
my_str = "my name is khan"


# DIFFERENCE:

# Strings are different from lists because lists allow item assignment while strings do not follow item assignments.
# ie. lists are mutable while strings are immutable

# eg:

my_list =[3,4,5,'name','hellow']
my_list[2]=6

my_string = "hey nana"
my_string[3]='c'

TypeError: 'str' object does not support item assignment

In [32]:
#7 How do tuples ensure data integrity in Python?

# Tuplres are immutable in python which means tuples do not support item assignment (items/elements inside a tuple cannot be changed once defined)
# Use case: Aadhar no., social security no, bank account no., employee id.

In [33]:
#8 What is a hash table, and how does it relate to dictionaries in Python3

# Hash table in a data structure that stores data in form of key: value pairs,

# when a key is passed to the hash function it converts it to the corresponding index, this index stores that particular key:value pair information.

# Dictionaries store the data in a similary way in the form of key: value pairs where a key can be used to accessed the corresponding value.

my_dict = {'name':'salman', 'age': 59,'city': 'mumbai', 45: 'actor'}
my_dict[45]

'actor'

In [34]:
#9 Can lists contain different data types in Python?

# Yes Lists in python can contain different data types and each element can be accessed using indexes and each item/element can also be changed using indexing.

my_list = [1,2,3,4.66,7.77,True, False, 'Name_is_Khan', 6+7j, 5+7j]
print(my_list)

[1, 2, 3, 4.66, 7.77, True, False, 'Name_is_Khan', (6+7j), (5+7j)]

In [35]:
#10 Explain why strings are immutable in Python?

String are immutable in

my_str = 'Hey my name is Khan and its pleasing to be meeting to you once again'
print(my_str[5])
my[5]='hey'

SyntaxError: invalid syntax (ipython-input-35-1873574840.py, line 3)

In [36]:
#11 What advantages do dictionaries offer over lists for certain tasks?

# dictionaries store elements in form of key - value pairs and keys are unique so there is only one unique key for each value that allows to easily access
# the data without remembering the indexes of the elements to acess them.

# if there is any duplicate value for a key then the latest value will be considered.

# on the other hand lists are used and preferred when you want to iterate over elements and want ordered sequence.

# the retrivel of data is faster in dictionaries than compared to the lists.

In [37]:
#12 Describe a scenario where using a tuple would be preferable over a list

# tuple would be more preferable in situations where we dont want anyone to make changes to the elements.
# tuples offer the concept of immutability which means elements cannot be modified after definition, wherease lists's elements can be easily modified or changed.

# tuple use case would be employee id, social security number, account number, aadhar no.

In [38]:
#13 How do sets handle duplicate values in Python?

# Sets data structure organize and store data in such a manner that only unique elements are allowed, they remove all duplicates and just keep one value.
# they are useful when we need to get rid of duplicacy and want only unique and unordered elements.

# eg.

my_set = {2,4,5,5,5,5,5,6,6,6,6,6,6,6,'salman', 'salman', 'kkhh','kkhh', 6+7j, 6+7j, 5.5, 59}
print (my_set)

{2, 4, 5, 5.5, 6, 59, 'salman', 'kkhh', (6+7j)}

In [39]:
#14 How does the “in” keyword work differently for lists and dictionaries?

# "in" in lists:
# it finds out where an element is in present in the list
# it returns a boolean value if it is present(TRUE), else (FALSE)
# eg:
my_list = [2,5,6,'salman', 'hey', 4, 6.7, 6.88, 6+7j]

print (6 in my_list)

# "in" in dictionaries works differntly as it cannot be used for checking values it checks whether a key is present in the dictionaries or not.
# if it is present it return TRUE, else FALSE

# eg:

my_dict = {'name': 'shreya', 6: "age", "shubam": {'age':5, 'color': 'brown', "score": 5859}}
print("shubham" in my_dict)

True
False

In [40]:
#15  Can you modify the elements of a tuple? Explain why or why not?

# NO we cannot modify the elements of the tuples as tuples are immutable and they do not support item assignment.
# If we try modifying or changing it will throw errow as
# "item assignemt not supported"
# Tuples are designed in the way that they are fixed and cannot be modified in this way they are safer and cannot be overwritten with values.

# eg:

my_tuple= (3,5,6,7,7,8,888,8,8,9,9,'salam','kiddish', 6+7j)
my_tuple[4] = 66

TypeError: 'tuple' object does not support item assignment

In [ ]:
#16 What is a nested dictionary, and give an example of its use case?

# Nested dictionary is where we use a dictionary as a value inside the dictionary, dictionary cannot be used as a key.

# eg:

student_info= {'Ramesh': {'age': 12, 'class': 5, 'marks':564}, "Kirti":{'age': 23, 'class': "B.Tech", 'marks':564}, "sonam": {'age': 18, 'class': 12, 'marks':600}}

print(student_info)

{'Ramesh': {'age': 12, 'class': 5, 'marks': 564}, 'Kirti': {'age': 23, 'class': 'B.Tech', 'marks': 564}, 'sonam': {'age': 18, 'class': 12, 'marks': 600}}

In [ ]:
#17  Describe the time complexity of accessing elements in a dictionary?

# Time complexity of accesing elements in dictionary is avg. o(1), that means it takes same time irrespective of the sizr of the dictionary to access the element.
# unlike lists that goes through each elements in an iterative way, dictionary allows to directy go to a particular value by using key-value pair.
# Thus, it allows faster retrieval of data.

# eg.

student_info= {'Ramesh': {'age': 12, 'class': 5, 'marks':564}, "Kirti":{'age': 23, 'class': "B.Tech", 'marks':5iz64}, "sonam": {'age': 18, 'class': 12, 'marks':600}}

student_info['sonam']

{'age': 18, 'class': 12, 'marks': 600}

In [ ]:
# 18 In what situations are lists preferred over dictionaries?

# Lists are preferred over dictionaries where we want to simply access the data using indexes, while in dictionary its complex to write key-value pairs.
# Lists allow duplicates elements so we can use it if we want duplicates in the data while dictionary allows only unique keys
# Lists have simple sequences
# lists can be used to store simple data like lists of fruits, list of students
# on the other hand dictionary is used to match key values like menu list item and their prices, students with their respective scores.

In [23]:
#19 Why are dictionaries considered unordered, and how does that affect data retrieval?

# dictionaries are considered unordered as they store  data in form of key - value pairs, for every unique key there is a value
# dictionaries do not follow the concept of indexing for data retrieval as it converts and key to their hash values and map them to the location of the values.
# so order is not even required in the first place for faster data retrieval we can directly access the value by using the key.

# eg.

student_info= {'Ramesh': {'age': 12, 'class': 5, 'marks':564}, "Kirti":{'age': 23, 'class': "B.Tech", 'marks':64}, "sonam": {'age': 18, 'class': 12, 'marks':600}}
print(student_info)
student_info['Kirti']

{'Ramesh': {'age': 12, 'class': 5, 'marks': 564}, 'Kirti': {'age': 23, 'class': 'B.Tech', 'marks': 64}, 'sonam': {'age': 18, 'class': 12, 'marks': 600}}

{'age': 23, 'class': 'B.Tech', 'marks': 64}

In [28]:
#20 Explain the difference between a list and a dictionary in terms of data retrieval.

# lists:
# data retrieval in lists is done using indexing we make use of indexes starting from 0 to n-1 , n denotes length of list
# the data retrieval is slower the loop iterates from start ie. 0 index.

# eg:
my_list=[3,4,5,6,6,7,7,7,7,'sonam', 'heer', 4+7j]

print (my_list[-1])  # accessing the last element indexing starting from -1,-2..........

# dictionary:
# data retrieval in dictionary is done using key value pairs where each unique key gives value corresponding to that key, this method is more effient and allows faster data retrieval.
# Thus, faster retrieval of data as it directly goes to the value associated with the particular key instead of going in iteration like in indexing.
# eg:
student_info= {'Ramesh': {'age': 12, 'class': 5, 'marks':564}, "Kirti":{'age': 23, 'class': "B.Tech", 'marks':64}, "sonam": {'age': 18, 'class': 12, 'marks':600}}
student_info['Kirti'] #accessing the value associated with unique key "Kirti", its more direct and faster

(4+7j)

{'age': 23, 'class': 'B.Tech', 'marks': 64}

**PRACTICAL QUESTIONS**

In [ ]:
#1 Write a code to create a string with your name and print it
my_name = input("enter name")
name = my_name
print("My name is" , name)

enter namesalman
My name is salman

In [ ]:
#2 Write a code to find the length of the string "Hello World".

message = 'Hello World'
len(message)

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"

str = "Python Programming"
str[:3]

'Pyt'

In [ ]:
#4  Write a code to convert the string "hello" to uppercase.

str = "hello"
str.upper()

'HELLO'

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
str.replace("apple", "orange")

'I like orange'

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it
my_list = [1,2,3,4,5]
# for i in my_list:
#   print(i, end =" ")
print (my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

# other way
# my_list.pop(2)
# print(my_list)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
reversed_list= my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits_list = ('apple', 'banana', 'blueberry')
"kiwi" in fruits_list

False

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
type(my_set)
print(my_set)

{'c', 'a', 'b'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set= {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set= {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1= {1, 2, 3}
set2= {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1= {1, 2, 3}
set2= {2, 3, 4}
set1 & set2

{2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "salman khan", "age": 58 , "city": "Mumbai"}
print(my_dict)

{'name': 'salman khan', 'age': 58, 'city': 'Mumbai'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
"city" in my_dict.keys()

True

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,True, 4+7j, 4.555, 'ram','prem','kirti',5,5,7]
my_tuple =(2,4,False, 5+5j, 4,5, 6.7,866,'delhi','mumbai')
my_dict = {"age": 34, 'city': 'delhi', 'education': "MBA", 'price': "check_menu"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, True, (4+7j), 4.555, 'ram', 'prem', 'kirti', 5, 5, 7]
(2, 4, False, (5+5j), 4, 5, 6.7, 866, 'delhi', 'mumbai')
{'age': 34, 'city': 'delhi', 'education': 'MBA', 'price': 'check_menu'}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
my_list = [random.randint(1,100) for i in range(5)]
my_list.sort()
print(my_list)

[10, 30, 31, 58, 92]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index.
my_list= ['string0','string1','string2','string3','string4','string5','string6']
print(my_list[2])

string2

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.

dict1 ={'Salman': {'age':59, "color":"wheat", "profession": "being_human", "ranking":1},
        "shahrukh":{'age':59, "color":"brown", "profession": "businessman", "ranking":3},
        "aamir": {'age':60, "color":"white", "profession": "social_worker", "ranking":2}}
dict2={'city':'mumbai', 'identity':'celebrities_top3',"nickname":["bhaijaan", 'srk', 'perfectionalist']}
dict1.update(dict2)
print(dict1)

{'Salman': {'age': 59, 'color': 'wheat', 'profession': 'being_human', 'ranking': 1}, 'shahrukh': {'age': 59, 'color': 'brown', 'profession': 'businessman', 'ranking': 3}, 'aamir': {'age': 60, 'color': 'white', 'profession': 'social_worker', 'ranking': 2}, 'city': 'mumbai', 'identity': 'celebrities_top3', 'nickname': ['bhaijaan', 'srk', 'perfectionalist']}

In [ ]:
#30 Write a code to convert a list of strings into a set.

my_list=['true','hey_nana','enchanted', 'kids', 'enchanted']
my_list= set(my_list)
print(my_list)

{'hey_nana', 'kids', 'true', 'enchanted'}